<div id="divNotification">
</div>
<div id="topBar">
	<h1>PTME</h1>
	<div id="topButton">
		<p>HOME</p>
		<p>PROJECT</p>
		<p>NEWS</p>
	</div>
	<div id="loginButton">
		<p>LOGIN</p>
	</div>
	<div id="popMenuLoginButton">
		<p>Profil</p>
		<p>Settings</p>
		<p>Logout</p>
	</div>
</div>
	<div id="loginPopup" class="popup">
		<div class="container">
			<div class="left-side"></div>
			<div class="right-side">
				<h1>Access to a new WORLD</h1>
				<form id="loginForm">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" placeholder="Email">
	
					<label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Password">
	
					<button type="submit" class="login-btn">Login</button>
	
					<div class="new-player">
						New player? <a href="#">Create an account</a>
					</div>
	
					<div class="divider">
						<span></span>
						<p>Or</p>
						<span></span>
					</div>
					<button type="button" class="login-42-btn" href="{{ link42 }}">Log with <span>42</span></button>
				</form>
			</div>
			<div class="right-side-register">
				<h1>Welcome to a new WORLD</h1>
				<form id="registerForm">
					<!-- <span id="closePopupBtn" class="close">&times;</span> -->
					<label for="username">Username</label>
					<input type="username" id="username" name="username">

					<label for="email">Email</label>
					<input type="email" id="email-register" name="email">
	
					<label for="password">Password</label>
					<input type="password" id="password-register" name="password">
	
					<label for="password">Confirm password</label>
					<input type="password" id="password-confirm" name="password">

					<button type="submit" class="login-btn">REGISTER</button>
					<div class="old-player">
						Already have an account? <a href="#">Log in</a>
					</div>
				</form>
			</div>
		</div>
		
	</div>
<div id="chatButton">
	<p>CHAT</p>
</div>
<div id="chatDiv">
	<div id="topChatHome">
		<h1>Chat</h1>
		<div id="topChatCross">
			<h2>X</h2>
		</div>
	</div>
</div>
<section class="homeSection">
</section>
<section class="homeSection relative">
	<img id="firstBall" src="/static/img/homePage/ball3D2.png">
	<img id="secondBall" src="/static/img/homePage/ball3D3.png">
	<div class="relative">
		<p id="firstText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam cupiditate magni unde expedita molestiae eum aliquam fugit voluptatibus omnis! Dolores, ipsa inventore necessitatibus numquam aspernatur in perferendis id voluptas?</p>
		<p id="secondText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam cupiditate magni unde expedita molestiae eum aliquam fugit voluptatibus omnis! Dolores, ipsa inventore necessitatibus numquam aspernatur in perferendis id voluptas?</p>
	</div>
</section>
<section class="homeSection">
	<div class="team">
		<div class="team-member">
			<img src="/static/img/homePage/tomoron.png" alt="Tom" class="team-photo">
			<h2>Tom, tomoron</h2>
			<p>Partie Backend</p>
			<div class="info">
				<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="/static/img/homePage/madegryc.png" alt="Mathis" class="team-photo">
			<h2>Mathis, madegryc</h2>
			<p>Partie Frontend / Design</p>
			<div class="info">
				<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="/static/img/homePage/edbernard.png" alt="Eddy" class="team-photo">
			<h2>Eddy, edbernar</h2>
			<p>Partie Midend</p>
			<div class="info">
				<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
			</div>
		</div>
		<div class="team-member">
			<img src="/static/img/homePage/hubourge.png" alt="Hugo" class="team-photo">
			<h2>Hugo, hubourge</h2>
			<p>Partie jeu</p>
			<div class="info">
				<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="footer-content">
		<div class="footer-left">
			<h1>PTME</h1>
			<p>ft_transcendance project<br>for 42 shcool</p>
		</div>
		<div class="footer-right">
			<p>2024</p>
		</div>
</footer>
