<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Chat</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' href='/static/style/home.css'>
	<link rel='stylesheet' type='text/css' href='/static/style/liveChat.css'>
	<link rel='stylesheet' type='text/css' href='/static/style/notification.css'>
	<link rel='stylesheet' type='text/css' href='/static/style/loginPage.css'>
	<script type="module" src='/static/main.js'></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
	<div id="divNotification">
	</div>
	<div id="topBar">
		<h1>PTME</h1>
		<div id="topButton">
			<p>HOME</p>
			<p>PROJECT</p>
			<p>NEWS</p>
		</div>
		<div id="loginButton">
			<p>LOGIN</p>
		</div>
	</div>
		<div id="loginPopup" class="popup">
			<div class="container">
				<div class="left-side"></div>
				<div class="right-side">
					<h1>Access to a new WORLD</h1>
					<form>
						<label for="email">Email</label>
						<input type="email" id="email" name="email" placeholder="Email">
		
						<label for="password">Password</label>
						<input type="password" id="password" name="password" placeholder="Password">
		
						<button type="submit" class="login-btn">Login</button>
		
						<div class="new-player">
							New player? <a href="#">Create an account</a>
						</div>
		
						<div class="divider">
							<span></span>
							<p>Or</p>
							<span></span>
						</div>
						<button type="button" class="login-42-btn">Log with <span>42</span></button>
					</form>
				</div>
			</div>
		</div>
	<div id="chatButton">
		<p>CHAT</p>
	</div>
	<div id="chatDiv">
		<div id="topChatHome">
			<h1>Chat</h1>
			<div id="topChatCross">
				<h2>X</h2>
			</div>
		</div>
	</div>
	<section class="homeSection">
	</section>
	<section class="homeSection relative">
		<img id="firstBall" src="static/style/ball3D2.png">
		<img id="secondBall" src="static/style/ball3D3.png">
		<div class="relative">
			<p id="firstText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam cupiditate magni unde expedita molestiae eum aliquam fugit voluptatibus omnis! Dolores, ipsa inventore necessitatibus numquam aspernatur in perferendis id voluptas?</p>
			<p id="secondText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia totam cupiditate magni unde expedita molestiae eum aliquam fugit voluptatibus omnis! Dolores, ipsa inventore necessitatibus numquam aspernatur in perferendis id voluptas?</p>
		</div>
	</section>
	<section class="homeSection">
		<div class="team">
			<div class="team-member">
				<img src="/static/style/tomoron.png" alt="Tom" class="team-photo">
				<h2>Tom, tomoron</h2>
				<p>Partie Backend</p>
				<div class="info">
					<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
				</div>
			</div>
			<div class="team-member">
				<img src="/static/style/madegryc.png" alt="Mathis" class="team-photo">
				<h2>Mathis, madegryc</h2>
				<p>Partie Frontend / Design</p>
				<div class="info">
					<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
				</div>
			</div>
			<div class="team-member">
				<img src="/static/style/edbernard.png" alt="Eddy" class="team-photo">
				<h2>Eddy, edbernar</h2>
				<p>Partie Midend</p>
				<div class="info">
					<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
				</div>
			</div>
			<div class="team-member">
				<img src="/static/style/hubourge.png" alt="Hugo" class="team-photo">
				<h2>Hugo, hubourge</h2>
				<p>Partie jeu</p>
				<div class="info">
					<p>Tom est spécialisé en développement backend et travaille principalement avec Node.js et MongoDB.</p>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="footer-content">
            <div class="footer-left">
                <h1>PTME</h1>
                <p>ft_transcendance project<br>for 42 shcool</p>
            </div>
            <div class="footer-right">
                <p>2024</p>
            </div>
	</footer>
</body>
</html>
