<div id="topBarLobby">
	<h1 id="homeButton">METH</h1>
	<div class="search-container">
		<input type="text" placeholder="Search..." class="search-input" id="searchInputUser" autocomplete="off">
	</div>
	<div id="searchResult">
	</div>
	<div id="loginButton">
		<p></p>
	</div>
	<div id="popMenuLoginButton">
		<p>Profil</p>
		<p>Settings</p>
		<p>Logout</p>
	</div>
</div>
<div id="chatButton">
	<span class="notification-badge"></span>
	<img src="/static/img/homePage/bulle.png">
</div>
<div id="chatDiv">
	<div id="topChatHome">
		<h1>Chat</h1>
		<div id="topChatCross"><span>&times;</span></div>
	</div>
	<div id="messageListChatHome">
		<p id="infoChat">You are not connected to the chat</p>
	</div>
</div>

<div class="popup-background" id="popup-background">
	<div class="popup-skin">
		<h1>Select your skin</h1>
		<div class="color-grid">
			<div class="color-box color-1"></div>
			<div class="color-box color-2"></div>
			<div class="color-box color-3"></div>
			<div class="color-box color-4"></div>
			<div class="color-box color-5"></div>
			<div class="color-box color-6"></div>
			<div class="color-box color-7"></div>
			<div class="color-box color-8"></div>
		</div>
	</div>
</div>

<div class="main-container">
	<div class="main">
		<div id="loginPopup" class="popup">
			<div class="popup-content">
				<span id="closePopupBtn" class="close"></span>
				<h1>Select your game mode</h1>
				<div id="choose">
					<div class="select-card">
						<p>Multiplayer local</p>
					</div>
					<div class="select-card">
						<p>Matchmaking</p>
					</div>
					<div class="select-card">
						<p>Ranked</p>
					</div>
					<div class="select-card">
						<p>Tournament</p>
					</div>
				</div>
				</form>
			</div>
		</div>

		<div class="game-mode">
			<div class="mode-card">
				<p>Multiplayer local</p>
			</div>
		</div>

		<!--------- FOR MATHIS : I made some changes here ---------->

		<div class="menuSelected" id="multiLocalSelected">
			<div id="whatGame">
				<p>The key to success is timing and precision, as you need to position your paddle correctly to deflect the ball at the right angle.</p>
				<span class="line"></span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet velit vitae lorem tempor auctor. In tempor ac ex ut finibus. Duis lobortis non justo eu venenatis.</p>
			</div>
		</div>

		<div class="menuSelected" id="multiOnlineSelected">
			<div id="whatGame">
				<p>The key to success is timing and precision, as you need to position your paddle correctly to deflect the ball at the right angle.</p>
				<span class="line"></span>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet velit vitae lorem tempor auctor. In tempor ac ex ut finibus. Duis lobortis non justo eu venenatis.</p>
			</div>
	
			<div class="skin-select">
				<div id="bar">
	
				</div>
				<div id="goal">
					
				</div>
			</div>
		</div>

		<div class="menuSelected" id="rankedSelected">
			<div id="whatGame">
				<p>Bonsoir non ?</p>
			</div>
			<div class="skin-select">
				<!-- Make sure you have ids and classes to make multiple "bars" and "goals" -->
			</div>
		</div>

		<div class="menuSelected" id="tournamentSelected">
			<div id="whatGame">
				<p>Bonsoir non ?</p>
			</div>
			<div class="skin-select">
				<!-- Make sure you have ids and classes to make multiple "bars" and "goals" -->
			</div>
		</div>

		<!--------------------- END OF CHANGES --------------------->
	</div>
</div>
<div class="bottom">
	<div class="buttonStartGame">
		<p>Start</p>
	</div>
</div>
<div id="divNotification">
</div>