<div id="topBarLobby">
	<h1>PTME</h1>
	<div class="search-container">
		<input type="text" placeholder="Search..." class="search-input">
		<button class="search-button">Search</button>
	</div>
	<div id="loginButton">
		<p></p>
	</div>
	<div id="popMenuLoginButton">
		<p>Profil</p>
		<p>Settings</p>
		<p>Logout</p>
	</div>
</div>
<div class="main">
	<div id="loginPopup" class="popup">
		<div class="popup-content">
			<span id="closePopupBtn" class="close"></span>
			<h1>Select your game mode</h1>
			<div id="choose">
				<div class="select-card">
					<p>Multiplayer local</p>
				</div>
				<div class="select-card">
					<p>Matchmaking</p>
				</div>
				<div class="select-card">
					<p>Ranked</p>
				</div>
				<div class="select-card">
					<p>Tournament</p>
				</div>
			</div>
			</form>
		</div>
	</div>

	<div class="game-mode">
		<div class="mode-card">
			<p>Multiplayer local</p>
		</div>
	</div>
	<div class="skin-select">
		<div id="bar">

		</div>
		<div id="goal">
			
		</div>
		
	</div>
</div>
<div class="bottom">
	<div class="buttonStartGame">
		<p>Start</p>
	</div>
</div>