<div class="pingDiv">
	<p id="fps">0 fps</p>
	<p id="ping">0 ms</p>
</div>
<div id="endGameDiv">
	<p id="endGameText">You lose...</p>
	<p id="endGameScore">0 - 0</p>
	<p id="endGameSimpleText">You will be redirected to the lobby in 5 seconds</p>
</div>
<div class="gamePad">
	<div id="fullscreen" style="background-image: url('/static/img/multiOnlineGamePage/fullscreen.png');"></div>
	<div class="gamePadLeft">
		<div class="buttonGamePad" id="padLeft" style="background-image: url('/static/img/multiOnlineGamePage/left-arrow.png');"></div>
		<div class="buttonGamePad" id="padRight" style="background-image: url('/static/img/multiOnlineGamePage/left-arrow.png');"></div>
	</div>
	<div class="gamePadRight">
		<div class="buttonGamePad" id="padTop" style="background-image: url('/static/img/multiOnlineGamePage/left-arrow.png');"></div>
		<div class="buttonGamePad" id="padBottom" style="background-image: url('/static/img/multiOnlineGamePage/left-arrow.png');"></div>
	</div>
</div>



<!-- <img src="/static/img/multiOnlineGamePage/left-arrow.png"> -->
