<div id="cross-profil"><span>&larr;</span></div>
<div id="profil">
    <div class="container">
        <!-- Profile Section -->
        <div class="background-card"></div>
        <div class="profile-section">
            <div class="profile-image"></div>
            <div class="profile-info">
                <h2>Username <span class="online-status"></span></h2>
                <p>150 Elo</p>
            </div>
            <div class="rightButtonDiv">
                <img id="github" src="/static/img/profilPage/github.png">
                <img id="discord" src="/static/img/profilPage/discord.webp">
                <img id="newConv" src="/static/img/profilPage/addConv.png">
                <img id="invite" src="/static/img/profilPage/invite.png">
            </div>
        </div>

        <!-- Dashboard and History Section -->
        <div class="content">
            <div class="dashboard">
                <h3>Dashboard</h3>
                <div class="contentStats">
                    <canvas id="stats">
    
                    </canvas>
                </div>
            </div>
            <div class="history">
                <h3>History</h3>
                <div class="history-card">
                    <div id="user-1">
                        <div class="profile-img-history"></div>
                        <p>User1</p>
                    </div>
                    <p id="score-history">0 - 0</p>
                    <div id="user-2">
                        <div class="profile-img-history"></div>
                        <p>User2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chatButton">
    <span class="notification-badge"></span>
    <img src="/static/img/homePage/bulle.png">
</div>
<div id="chatDiv">
    <div id="topChatHome">
        <h1>Chat</h1>
        <div id="topChatCross"><span>&times;</span></div>
    </div>
    <div id="messageListChatHome">
        <p id="infoChat">You are not connected to the chat</p>
    </div>
</div>
<div id="divNotification">
</div>