<div id="settingsBody">
    <div class="container-settings">
        <div class="left-section">
            <div class="form-group-settings">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Username">
                <div class="form-footer">
                    <small>Your username allows other players to find you.</small>
                    <button class="save-btn-settings">SAVE</button>
                </div>
            </div>

            <div class="form-group-settings">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email">
                <div class="form-footer">
                    <small>You have changed your email, you can modify it here.</small>
                    <button class="save-btn-settings">SAVE</button>
                </div>
            </div>

            <div class="form-group-settings">
                <label for="discord">Discord</label>
                <input type="text" id="discord" placeholder="Discord">
                <div class="form-footer">
                    <small>Share your discord for more fun!</small>
                    <button class="save-btn-settings">SAVE</button>
                </div>
            </div>
        </div>

        <div class="right-section">
            <div class="form-group-settings">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
            </div>

            <div class="form-group-settings">
                <label for="new-password">New password</label>
                <input type="password" id="new-password" placeholder="New password">
            </div>

            <div class="form-group-settings">
                <label for="confirm-password">Confirm new password</label>
                <input type="password" id="confirm-password" placeholder="Confirm password">
                <div class="form-footer">
                    <small>We advise you to change your password regularly to reduce the risk of unauthorized access.</small>
                    <button class="save-btn-settings">SAVE</button>
                </div>
            </div>

            <button class="delete-btn">Delete the account</button>
        </div>
    </div>
</div>