<div id="topBar">
	<h1 id="homeButton">METH</h1>
	<div id="loginButton">
		<p>LOGIN</p>
	</div>
	<div id="popMenuLoginButton">
		<p>Profil</p>
		<p>Settings</p>
		<p>Logout</p>
	</div>
</div>
<div class="popup-background-delete" id="popup-background-delete">
   <div class="popup-delete">
    <h1>Are you sure you want to delete tour account ?</h1>
    <input type="text" id="username-delete" placeholder="Username">
    <button class="delete-btn" id="deleteButton">Delete the account</button>
   </div>
</div>
<div id="settingsBody">
    <div class="container-settings">
        <div class="left-section">
            <div class="form-group-settings">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email">
            </div>

            <div class="form-group-settings">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Username">
                <div class="form-footer">
                    <small>Your username allows other players to find you.</small>
                    <button class="save-btn-settings" id="usernameButtonSave">SAVE</button>
                </div>
            </div>

            <div class="form-group-settings">
                <label for="discord">Discord</label>
                <input type="text" id="discord" placeholder="Discord">
                <div class="form-footer">
                    <small>Share your discord for more fun!</small>
                    <button class="save-btn-settings" id="discordButtonSave">SAVE</button>
                </div>
            </div>
        </div>

        <div class="right-section">
            <div class="form-group-settings">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
            </div>

            <div class="form-group-settings">
                <label for="new-password">New password</label>
                <input type="password" id="new-password" placeholder="New password">
            </div>

            <div class="form-group-settings">
                <label for="confirm-password">Confirm new password</label>
                <input type="password" id="confirm-password" placeholder="Confirm password">
                <div class="form-footer">
                    <small>We advise you to change your password regularly to reduce the risk of unauthorized access.</small>
                    <button class="save-btn-settings"  id="passwordButtonSave">SAVE</button>
                </div>
            </div>

            <button class="delete-btn" id="buttonShowDeleteMenu">Delete the account</button>
        </div>
    </div>
</div>
<div id="divNotification">
</div>