<div id="tournamentPage">
	<div class="top-bracket">
		<p id="actuality-tournament">Waiting for opponent...</p>
		<p id="code-tournament">Code : 45HW28</p>
	</div>
	<div class="bracket">
		<div class="left">
			<div class="container">
				<p id="user-1">username1</p>
				<div class="circle" id="pfp-1"></div>
				<div class="vertical-line">
					<div class="horizontal-container">
						<div class="horizontal-line"></div>
						<div class="circle" id="pfp-3">
							<div class="container" style="margin-top: 50px;">
								<p style="position: absolute; top: -30px; " id="user-3">username3</p>
								<p style="position: absolute; bottom: -340px;" id="user-9">username9</p>
								<div class="vertical-line-demi">
									<div class="horizontal-container-final">
										<div class="horizontal-line"></div>
										<div class="circle" id="pfp-12"></div>
										<p id="user-12">username12</p>
										<p style="position:absolute; right: 25px; bottom: 83px; color: white; font-size: 35px;">VS</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="circle" id="pfp-2"></div>
				<p id="user-2">username2</p>
				<div class="container">
					<p id="user-4">username4</p>
					<div class="circle" id="pfp-4"></div>
					<div class="vertical-line">
						<div class="horizontal-container">
							<div class="horizontal-line"></div>
							<div class="circle" id="pfp-9"></div>
						</div>
					</div>
					<div class="circle" id="pfp-5"></div>
					<p id="user-5">username5</p>
				</div>
			</div>
		</div>

		<div class="right">
			<div class="container" style="left: 350px;">
				<div class="horizontal-container" style="margin-top: 75px;">
					<p style="margin-right: 10px;" id="user-58">username58</p>
					<div class="circle" id="pfp-58">
					</div>
					<div class="horizontal-line"></div>
					<div class="container" style="margin-left: -25px;">
						<div style="display: flex; flex-direction: row; ">
							<div class="circle" id="pfp-27">
								<div class="horizontal-container" style="position: absolute; left: 280px; transform: translateY(-38%); display: flex; flex-direction: row; align-items: center; justify-items: center; z-index: -1;">
									<div class="horizontal-line"></div>
									<div style="display: flex; flex-direction: column; align-items: center; margin-left: -25px; justify-items: center;">
										<p style="position: absolute; top: -55px" id="user-13">username13</p>
										<div class="circle" id="pfp-15"></div>
										<div class="vertical-line"></div>
										<p style="position: absolute; bottom: -55px;" id="user-14">username14</p>
										<div class="circle" id="pfp-14"></div>
									</div>
								</div>
							</div>
							
						</div>
						<div class="vertical-line-demi" style="height: 260px;">
							<p style="position: absolute; top: -105px" id="user-27">username27</p>
							<p style="position: absolute; bottom: -105px" id="user-31">username31</p>
							<div class="horizontal-container-final"></div>
						</div>
						<div style="display: flex; flex-direction: row;">
							<div class="circle" id="pfp-31">
								<div class="horizontal-container" style="position: absolute; left: 280px;  transform: translateY(-37%); z-index: -1;">
									<div class="horizontal-line"></div>
									<div style="display: flex; flex-direction: column; align-items: center; margin-left: -25px; justify-items: center;">
										<div class="circle" id="pfp-15"></div>
										<p style="position: absolute; top: -55px;" id="user-15">username15</p>
										<div class="vertical-line"></div>
										<p style="position: absolute; bottom: -55px;" id="user-16">username16</p>
										<div class="circle" id="pfp-16"></div>
			
									</div>
		
								</div>
							</div>
						</div>
		
					</div>
				</div>
				
			</div>
		</div>
		<div class="all-tournament">
			<div class="info-tournament">
				<p id="info-title">Informations</p>
				<div class="info">
					<div class="alert-info">
						<p>edbernard won against madegryc !</p>
						<img src="/static/img/tournamentPage/eye.svg" id="eye"></img>
					</div>
				</div>
			</div>
			<div class="chat-tournament">
				<p id="chat-title">Chat</p>
				<div class="chat"></div>
				<div class="inputMessageDiv">
					<textarea type="text" id="inputMessage" placeholder="Enter your message here"></textarea>
					<p id="sendButton">></p>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="buttonStartGame">
			<p>Start</p>
		</div>
	</div>
</div>

