/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   home.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: madegryc <madegryc@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/08/07 12:00:55 by edbernar          #+#    #+#             */
/*   Updated: 2024/08/13 19:02:42 by madegryc         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@keyframes animShowMenuDiv {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animHideMenuDiv {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: white;
  }

* {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #020202;
	user-select: none;
}


#topBar {
	margin-block: 25px;
	padding: 0;
	padding-inline: 50px;
	display: flex;
	background-color: #020202;
	gap: 2rem;
	align-items: center;
	position: absolute;
	inset-inline: 0;
	top: 0;
}

#topButton{
	padding: 0;
	color: white;
	display: flex;
	font-size: 25px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	padding-left: 60px;
	gap: 6rem;
}

#topButton p {
	position: relative;
}

#topButton p:after {
	content: "";
	position: absolute;
	background-color: white;
	height: 3px;
	width: 0%;
	left: 0;
	bottom: 1px;
	transition: 0.3s;
}

#topButton p:hover:after {
	/* color: blue; */
	width: 100%;
}

#topBar h1 {
	padding: 0;
	padding-top: 4px;
	font-size: 35px;
	color: white;
	font-family: 'Poppins';
	font-style: italic;
    font-weight: bold;
}

#topBar #loginButton {
	font-size: 20px;
	background-color: white;
	height: 40px;
	width: 130px;	
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	line-height: 40px;
	margin-left: auto;
	transition: background-color 0.3s ease;
}

#topBar #loginButton:hover {
	background-color: #020202;
	color: white;
	cursor: pointer;
}

.homeSection{
	min-height: 100svh;
}

.homeSection p{
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

#firstText{
	font-size: 45px;
	padding-inline: 50px;
	padding-top: 70px;
}

#secondText{
	font-size: 45px;
	padding-inline: 50px;
	padding-top: 90px;
	text-align: right;
}

#firstBall{
	width: 25%;
	position: relative;
}

#menuDiv {
	display: flex;
	flex-direction: column;
	align-items: right;
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	animation: animShowMenuDiv 0.5s;
}

#menuDiv li {
	list-style-type: none;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

#menuDiv li:hover {
	background-color: #f0f0f0;
}