/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   home.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: edbernar <edbernar@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/08/07 12:00:55 by edbernar          #+#    #+#             */
/*   Updated: 2024/08/07 17:31:35 by edbernar         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

* {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #616161;
	user-select: none;
}

#topBar {
	margin: 10px;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
}

#topBar h1 {
	margin: 0;
	padding: 0;
	font-size: 40px;
	color: white;
	font-family: 'Poppins';
}

#topBar #loginButton {
	font-size: 20px;
	background-color: white;
	height: 40px;
	width: 100px;	
	color: black;
	font-family: 'Poppins';
	text-align: center;
	line-height: 40px;
	margin: 10px 10px;
}

#topBar #loginButton:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}
