/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   home.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: edbernar <edbernar@student.42angouleme.    +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/08/07 12:00:55 by edbernar          #+#    #+#             */
/*   Updated: 2024/08/13 00:03:27 by edbernar         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@keyframes animShowMenuDiv {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animHideMenuDiv {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #020202;
	user-select: none;
}


#topBar {
	margin: 10px;
	margin-top: 25px;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #020202;
}

#topButton{
	margin: 0;
	padding: 0;
	color: white;
	display: flex;
	font-size: 25px;
	padding-right: 45%;
	padding-top: 12px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	gap: 25%;
}

#topButton p {
	position: relative;
}

#topButton p:after {
	content: "";
	position: absolute;
	background-color: white;
	height: 3px;
	width: 0%;
	left: 0;
	bottom: 1px;
	transition: 0.3s;
}

#topButton p:hover:after {
	/* color: blue; */
	width: 100%;
}

#topBar h1 {
	margin: 0;
	padding: 0;
	padding-top: 4px;
	font-size: 35px;
	margin-left: 50px;
	margin-right: 15px;
	color: white;
	font-family: 'Poppins';
	font-style: italic;
    font-weight: bold;
}

#topBar #loginButton {
	font-size: 20px;
	background-color: white;
	height: 40px;
	width: 130px;	
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	line-height: 40px;
	margin: 10px 10px;
	margin-right: 50px;
	transition: background-color 0.3s ease;
}

#topBar #loginButton:hover {
	background-color: #020202;
	color: white;
	cursor: pointer;
}

#menuDiv {
	display: flex;
	flex-direction: column;
	align-items: right;
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	animation: animShowMenuDiv 0.5s;
}

#menuDiv li {
	list-style-type: none;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

#menuDiv li:hover {
	background-color: #f0f0f0;
}