/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   style.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: hubourge <hubourge@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/08/20 11:23:41 by edbernar          #+#    #+#             */
/*   Updated: 2024/09/03 17:13:58 by hubourge         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@keyframes fadeIn {
	from {
		filter: brightness(1);
	}
	to {
		filter: brightness(0);
	}
}

@keyframes fadeOut {
	from {
		filter: brightness(0);
	}
	to {
		filter: brightness(1);
	}
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#score {
	position: absolute;
	top : 5%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	font : Blippo, fantasy;
	font-weight: 900;
	font-size: 5vh;
}
