/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   notification.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: edbernar <edbernar@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/08/04 23:44:17 by edbernar          #+#    #+#             */
/*   Updated: 2024/08/07 18:04:17 by edbernar         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */


@keyframes slideIn {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(100%);
		opacity: 0;
	}
}

#divNotification {
	position: fixed;
	overflow: hidden;
	font-family: 'Poppins';
	top: 0px;
	right: 10px;
	display: flex;
	flex-direction: column;
	z-index: 1000;
}

#divNotification .notification {
	background-color: #222222;
	display: flex;
	flex-direction: column;
	color: white;
	margin-top: 10px;
	min-height: 100px;
	min-width: 350px;
	max-width: 350px;
	animation: slideIn 0.1s;
}

#divNotification .header {
	display: flex;
	flex-direction: row;
}

#divNotification .header h1 {
	font-size: 1.2em;
	margin: 0;
}

#divNotification .header img {
	color: white;
	border: none;
	margin-left: 9px;
	margin-top: 9px;
	object-fit: cover;
	object-position: 50% 0;
}

#divNotification .content {
	margin: 0;
	width: 95%;
	padding: 2.5%;
	padding-bottom: 0;
}

#divNotification .content p {
	word-wrap: break-word;
}

#divNotification .footer {
	text-align: center;
	background-color: #333333;
	margin: 10px;
}

#divNotification .loadBar {
	margin-top: auto;
	margin-bottom: 0;
	padding: 0;
	/* position: fixed; */
}

.progress {
	transition: width 0.1s;
}