/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   home.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: madegryc <madegryc@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/08/07 12:00:55 by edbernar          #+#    #+#             */
/*   Updated: 2024/08/26 18:21:45 by madegryc         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@keyframes animShowMenuDiv {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes animHideMenuDiv {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: white;
  }

* {
	margin: 0;
	padding: 0;
}

body {
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #020202;
	user-select: none;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}


#topBar {
	margin-block: 25px;
	padding: 0;
	padding-inline: 50px;
	display: flex;
	gap: 2rem;
	align-items: center;
	position: absolute;
	inset-inline: 0;
	top: 0;
	z-index: 500;
}

#topButton{
	padding: 0;
	color: white;
	display: flex;
	font-size: 25px;
	padding-left: 60px;
	gap: 6rem;
}

#topButton p {
	position: relative;
}

#topButton p:after {
	content: "";
	position: absolute;
	background-color: white;
	height: 3px;
	width: 0%;
	left: 0;
	bottom: 1px;
	transition: 0.3s;
}

#topButton p:hover:after {
	/* color: blue; */
	width: 100%;
}

#topBar h1 {
	padding: 0;
	padding-top: 4px;
	font-size: 35px;
	color: white;
	font-family: 'Poppins';
	font-style: italic;
    font-weight: bold;
}

#topBar #loginButton {
	font-size: 20px;
	background-color: white;
	height: 40px;
	width: 130px;	
	color: black;
	text-align: center;
	line-height: 40px;
	margin-left: auto;
	transition: background-color 0.3s ease;
}

#topBar #loginButton:hover {
	background-color: #020202;
	color: white;
	cursor: pointer;
}

.popup {
    display: none; /* La popup est masquée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.container {
    display: flex;
    width: 70%;
    height: 80%;
    background-color: #020202;
}

.left-side {
    background-color: #D3D3D3;
    flex: 1;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
	padding-inline: 180px;
    color: white;
}

.right-side-register{
	flex: 1;
	display: none;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	padding-inline: 180px;
	color: white;
}

.right-side-register h1 {
    font-size: 2rem;
    margin-bottom: 30px;
	align-items: center;
	justify-content: center;
}

.close {
    position: absolute;
    top: 110px;
    right: 250px;
	font-size: 2rem;
    cursor: pointer;
	color: white;
}

.right-side h1 {
    font-size: 2rem;
    margin-bottom: 30px;
	align-items: center;
	justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 1rem;
}

input {
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

button {
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}


.login-btn {
    background-color: #fff;
    margin-bottom: 20px;
	transition: background-color 0.3s ease;
}

.login-btn:hover {
	background-color: #f0f0f0e1;
}

.new-player {
    text-align: center;
    margin-bottom: 20px;
}

.new-player a {
    color: white;
    text-decoration: underline;
	transition: color 0.3s ease;
}

.new-player a:hover {
	color: #f0f0f0e1;
}

.old-player {
    text-align: center;
    margin-bottom: 20px;
}

.old-player a {
    color: white;
    text-decoration: underline;
	transition: color 0.3s ease;
}

.old-player a:hover {
	color: #f0f0f0e1;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.divider span {
    flex: 1;
    height: 1px;
    background-color: #fff;
}

.divider p {
    margin: 0 10px;
    font-size: 1rem;
}

.login-42-btn {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: background-color 0.3s ease;
}

.login-42-btn span {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-42-btn:hover {
	background-color: #f0f0f0e1;
}

.homeSection{
	min-height: 100svh;
	overflow: hidden;
}

.homeSection p{
	color: white;
}

#firstText{
	font-size: 45px;
	padding-inline: 50px;
	padding-top: 70px;
}

#secondText{
	font-size: 45px;
	padding-inline: 50px;
	padding-top: 140px;
	text-align: right;
}

#firstBall{
	position: absolute;
	width: 340px;
	transform-origin: center;
	transform: translateX(-50%);
	left: 0;
}

#secondBall{
	position: absolute;
	width: 340px;
	transform-origin: center;
	transform: translateX(50%);
	top: 250px;
	right: 0;
}

.relative{
	position: relative;
}

#menuDiv {
	display: flex;
	flex-direction: column;
	align-items: right;
	font-family: "Poppins", sans-serif;
	background-color: #ffffff;
	animation: animShowMenuDiv 0.5s;
}

#menuDiv li {
	list-style-type: none;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}

#menuDiv li:hover {
	background-color: #f0f0f0;
}

.team {
    display: flex;
    gap: 40px;
	padding-inline: 200px;
	padding-block: 200px;
	justify-content: center;
}

.team h2 {
	color: white;
	font-size: 30px;
}

.team-member {
    max-width: 350px;
	transition: transform 0.3s ease;
}

.team-member:hover {
    transform: scale(1.2);
}


.team-member:not(:hover) {
    transform: scale(0.8);
}

.team-photo {
    width: 100%;
    height: auto;
}

.info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: #020202;
    padding: 10px;
    width: 100%;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.team-member:hover .info {
    transform: translateX(-50%) translateY(25%);
    opacity: 1;
}

footer {
	padding: 25px;
	overflow: hidden;
	height: 150px;
	background-color: white;
	color: #020202;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left h1 {
    font-size: 1.5em;
	font-style: italic;
    font-weight: bold;
    margin: 0;
}

.footer-left p {
    color: #afafaf;
}

.footer-right p {
    font-weight: bold;
}